.container {
  padding: 1rem 0.75rem;
  border-radius: 8px;
  background-color: var(--primary);
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.input {
  flex: 1;
  background: none;
  padding: 0 0.5rem;
  color: var(--text);
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.input:focus::placeholder {
  opacity: 0.8;
}

.clear {
  justify-self: flex-end;
  background: none;
  border: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .container {
    padding: 1rem 2rem;
    margin-left: 0;
  }
}
