.container {
  background-color: var(--primary);
  flex-shrink: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  display: flex;
}

@media (min-width: 768px) {
  .container {
    min-width: 150px;
  }
}
