.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.flag {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 3/2;
}

.shield {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  padding: 1rem;
  border-radius: 12px;
  place-self: center;
}

.shield img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.topSection {
  background-color: var(--foreground);
  width: 100%;
  display: grid;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stack > div {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 2rem;
  border-radius: 8px;
  background-color: var(--foreground);
}

.group > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0.75rem 0 1rem;
  border-bottom: 1px solid var(--border);
}

.back {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2em;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin: 1.5rem 0;
}

@media (min-width: 1280px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 3rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .shield {
    width: 300px;
  }

  .topSection {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .group {
    padding: 2rem;
  }

  .group > h2 {
    font-size: 2rem;
  }
}
