.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-top: solid 1px var(--border);
  margin: 2rem auto 1rem;
  padding: 2rem 0;
}

.title {
  font-family: var(--font-logo);
  font-weight: 300;
  color: var(--text);
  transition: all 0.2s ease-in-out;
}

.title:hover {
  color: var(--accent);
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.socials > li {
  padding: 0.5rem;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: var(--text);
}

.socials > li a {
  color: inherit;
}

.socials > li:hover {
  transform: scale(1.2);
  color: var(--accent);
}

.container > p a {
  color: var(--accent);
  font-weight: 600;
  text-decoration: none;
}

.container > p a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container {
    justify-content: space-between;
    flex-direction: row;
  }

  .socials {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
