.container {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--blue);
  margin: 1rem auto;
  width: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.input {
  width: 100%;
  background: none;
  padding: 0 0.5rem;
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  text-transform: capitalize;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text);
  opacity: 0.5;
}
