/* Commons  */
.bar-item {
  background-color: var(--light-blue);
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 2rem 1rem;
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
}

.toolbar {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Homepage  */

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.grid-item {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.grid-item:nth-child(4n),
.grid-item:nth-child(4n + 1) {
  background-color: var(--dark-blue);
}

.frame {
  width: 100%;
  display: flex;
  justify-content: center;
}

.frame > img {
  width: 100px;
  height: 70px;
}

/* Detail Page  */
.detail-list {
  display: flex;
  flex-direction: column;
}

.detail-list > div:nth-child(2n) {
  background-color: var(--dark-blue);
}

.data-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  color: #fff;
}
