@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text);
}

:root {
  --blue: #274590;
  --dark-blue: #0c1c4f;
  --purple: #6447cd;
  --light-green: #7fb861;
  --light-blue: #5788e5;
  --text: #d1ddfa;
}

main {
  min-height: 100vh;
  background-color: var(--dark-blue);
}

a {
  text-decoration: none;
  color: #fff;
}
