@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Rowdies&display=swap');

:root {
  --background: #e6eeff;
  --foreground: #becaf8;
  --primary: #9fbfff;
  --secondary: #becaf8;
  --accent: #4b4db0;
  --border: #e0daf696;
  --text: #0c1c4f;
  --dark: #25002e;
  --light: #fcfcfd;
  --font: 'Nunito Sans', sans-serif;
  --font-logo: 'Rowdies', cursive;
}

.dark {
  --background: #051129;
  --foreground: #061637;
  --primary: #1a53c7;
  --secondary: #08323a;
  --accent: #2dc3e1;
  --border: #e0daf696;
  --text: #e0daf6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--text);
  background-color: var(--background);
}

main {
  min-height: 100vh;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--font);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.maxContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.flexBetween {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0.8rem 2rem;
  text-decoration: none;
  transition: all 250ms;
  max-width: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.btn.rounded {
  border-radius: 999px;
}

.btn-br {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--foreground);
  color: var(--text);
  border: solid 1px var(--border);
  border-radius: 8px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2em;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn-br:hover {
  background-color: var(--primary);
  color: var(--light);
  transform: translateY(-2px);
}

.loadingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loadingContainer > p {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.loadingSpinner {
  --d: 22px;

  margin: 2rem 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--accent);
  box-shadow:
    calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

@media (min-width: 768px) {
  .flexBetween {
    flex-direction: row;
  }
}
